table{
	font-size: 40px;
	text-align: center;
	align-items: center ;
	margin: 50px 0px 0px 600px;
}

h1, h2 {
	color: #092327;
	text-align: center;
	font-size: 40px;
}
h3{
	background-color: clear;
	color:  #4392F1;
	font-size: 40px;
	text-align: center;
}

h4{
	background-color: clear;
	color: purple;
	font-size:40px;
	text-align: center;
}

a{
	color: #00A9A5;
}

ul{
	color: #092327;
	text-align: center;
	background-color: clear;
	font-size: 40px;
}
footer{
	color: #092327;
	text-align: center;
	background-color: clear;
	font-size: 40px;
}

.match2{
	color: #092327;
	text-align: center;
	background-color: clear;
	font-size: 40px;
}

.pic, .pic1, .pic2 {
	width: 300px;
	height: 350px;
  padding: 30px 80px;
}

body{
	font-family: 'Ceviche One', cursive;
	background-color: rgb(250, 243, 233);
	min-width: 950px;
	}

button{
	font-family: 'Ceviche One', cursive;
	font-size: 40PX;
	text-align: right;
}
.fight, .fight1, .fight2{
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #4E8098;
  border: none;
  border-radius: 15px;
	box-shadow: 0 9px 0 2px rgb(58, 49, 49);
	margin: 30px 0px 0px 650px ;
}

.fight1, .fight2{
	margin: 30px
}

.fight:hover,
.fight1:hover,
.fight2:hover {
	background-color: rgb(206, 164, 187);
}

.fight:active, 
.fight1:active,
.fight2:active{
  background-color:  #4E8098;
  box-shadow: 0 0px rgb(49, 44, 44);
  transform: translateY(4px);
}

main{
	font-family: 'Ceviche One', cursive;
}

.row,
.row1,
.row2 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.text,
.text1,
.text2 {
	font-family: 'Ceviche One', cursive;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.row:hover .text,
.row.active .text, 
.row1:hover .text1,
.row1.active .text1,
.row2:hover .text2,
.row2.active .text2{
	opacity: 1;
}

.textb,
.textb1,
.textb2{
	text-align: center;
	font-family: 'Ceviche One', cursive;
	font-size: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.container{
	border: 2px #00A9A5;
	padding: 25px;
	background-size: auto; 
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
.counterButton,
.counterButton2,
.counterButton3, 
.counterButton4,
.counterButton5,
.counterButton6{
	padding: 2px 2px;
  font-size: 2px;
  text-align: center;
	cursor: pointer;
	margin-top: 300px;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton:hover,
.counterButton:hover {
	background-color: clear
}

.counterButton:active {
  background-color: clear;
  box-shadow: 0px clear;
  transform: translateY(5px);
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
/* .counterButton2{
	padding: 2px 2px;
  font-size: 2px;
  text-align: bottom;
	cursor: pointer;
	margin-top: 300px;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
} */

.counterButton2:hover {
	background-color: clear
}

.counterButton2:active {
  /* background-color:; */
  box-shadow: 0px clear;
  transform: translateY(5px);
}

.nav {
  padding: 15px 25px;
	font-size: 20px;
	text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #4E8098;
  border: none;
  border-radius: 15px;
	box-shadow: 0 9px 0 2px rgb(58, 49, 49);
	float: right;
	margin: -50px 0px 0px 50px;
}

.nav:hover {
	background-color: rgb(206, 164, 187);
}

.nav:active {
  background-color:  #4E8098;
  box-shadow: 0 5px rgb(49, 44, 44);
  transform: translateY(4px);
}

.image-blurred-edge {
  background-image: url('img/fantasyBackround.jpg');
  width: 200px;
  height: 200px;
  box-shadow: 0 0 8px 8px white inset;
}

#playerImg{
	border-image: none;
 }

 .container1{
	 display: flex;
	 justify-content: space-evenly;
 }

 .versus{
	 display: flex;
	 justify-content: space-around;
	 margin-top:80% ;
 }

 .flex-container {
	  display: flex;
		justify-content:space-between ;
		padding: 0px 12px 0px 12px;
		width: 540px;
  	height: 400px;
		box-shadow: 0 0 8px 8px white inset;
 } 

 .flex-container1 {
	  background: url('../img/fantasyBackground.jpg') no-repeat center/cover;
 }

/* link for image https://images.search.yahoo.com/search/images;_ylt=Awr4zV..jQteVD0AcUhXNyoA;_ylu=X3oDMTE0cmxkb3ZrBGNvbG8DZ3ExBHBvcwMxBHZ0aWQDQTA2MjBfMQRzZWMDcGl2cw--?p=fantasy+background&fr2=piv-web&fr=mcafee#id=98&iurl=https%3A%2F%2Fwallpapercave.com%2Fwp%2FaD9ULLI.jpg&action=click */
.flex-container2 {
	display: flex; 
	justify-content: space-between; 
	padding: 0px 12px 0px 12px;
	background: url('../img/playerBackground.jpg') no-repeat center/cover;
	width: 540px; 
  height: 400px; 
	box-shadow: 0 0 8px 8px white inset; 
}

.container{
	display: flex;
	flex-direction: column;
}

.innerContainer{
	display: flex;
	justify-content: space-evenly;

}

.flex-container3 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	background: url('../img/japan.jpg') no-repeat center/cover;
	width: 540px;
  height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}

.flex-container4 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	background: url('../img/broken.jpg') no-repeat center/cover;
	width: 540px;
  height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}

	.flex-container5 {
		display: flex;
		justify-content: space-between;
		padding: 0px 12px 0px 12px;
		/* https://i.pinimg.com/originals/e7/15/61/e71561e889c62344122520c6337b68f6.jpg */
		background: url('../img/player3.jpg') no-repeat center/cover;
		width: 540px;
		height: 400px;
		box-shadow: 0 0 8px 8px white inset;
}

.flex-container6 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	/* https://s-media-cache-ak0.pinimg.com/736x/f7/7e/cc/f77eccdd08fe02de714221f17ea2fe87--apocalypse-art-fantasy-landscape.jpg */
	background: url('../img/destroyer.jpg') no-repeat center/cover;
	width: 540px;
	height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}

.counterButton3 {
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton3:hover {
	background-color: clear
}

.counterButton3:active {
  box-shadow: 0px clear;
  transform: translateY(5px);
}

.counterButton4{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton4:hover {
	background-color: clear
}

.counterButton4:active {
  box-shadow: 0px clear;
  transform: translateY(5px);
}

.counterButton5{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton5:hover {
	background-color: clear
}

.counterButton5:active {
  box-shadow: 0px clear;
	transform: translateY(5px);
}

.counterButton6{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton6:hover {
	background-color: clear
}

.counterButton6:active {
  box-shadow: 0px clear;
	transform: translateY(5px);
}
/*link for how i did the gradient text
 https://cssgradient.io/blog/css-gradient-text/ */
 /* https://media.tenor.com/images/ae5eed3c4026dd9766f4ee602c58deb3/tenor.gif */
#pts1[type=text]{
	position: relative;
	font-family: 'Ceviche One', cursive;
	color:rgba(255, 255, 255, 0.8);
	width: 200px;
	margin-top: 30px;
	font-size: 186;
	background: url('../img/sparkle.gif');
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 88%;
}
/* https://lh3.googleusercontent.com/-C4H2ze5uD6g/UNzy12PSsZI/AAAAAAAAAwI/tPLX834jCWY/s630-fcrop64=1,00000000bee692b6/EerieGreenSmoke.gif%2B2.gif */
#pts2[type=text]{
	background-color:clear;
	font-family: 'Ceviche One', cursive;
	color: rgba(49, 133, 252, 0.80);
	width: 200px;
	margin-top: 30px;
	font-size: 186;
	background: url('../img/greensmoke.gif');
	/* background-attachment: fixed; */
	background-size: 310px;
	background-repeat: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 78%;

}
/* https://media.giphy.com/media/4eKJOJ6E2V5U4/giphy.gif */
#pts3[type=text]{
	background-color:clear;
	font-family: 'Ceviche One', cursive;
	color:rgba(167, 29, 49, 0.8);
	width: 200px;
	margin-top: 30px;
	font-size: 186;
	background: url('../img/leaf.gif');
	background-size: 300px;
	background-repeat: none;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 78%;
}
/* https://scitechdaily.com/images/Lava-Flow.gif */
#pts4[type=text]{
	background-color:clear;
	font-family: 'Ceviche One', cursive;
	color: rgba(255, 201, 20, 0.80);
	border-radius: 20px;
	width: 200px;
	margin-top: 30px;
	font-size: 186;
	background: url('../img/lava.gif');
	/* background-attachment: fixed; */
	background-size: 410px;
	background-repeat: none;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 78%;
	}
	/* https://media.giphy.com/media/3ohhwEZqxzKbNUHzji/giphy.gif */
#pts5[type=text]{
	background-color:clear;
	font-family: 'Ceviche One', cursive;
	color: rgba(238, 232, 44, 0.8);
	border-radius: 20px;
	width: 200px;
	margin-top: 30px;
	font-size: 186;
	background: url('../img/wormhole.gif');
	/* background-attachment: fixed; */
	background-size: 200px;
	background-repeat: none;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 78%;
}
/* https://78.media.tumblr.com/9f6f84c024ecb14a59a7f760089dc3d4/tumblr_p0v4s99CGz1uj7swzo1_500.gif */
#pts6[type=text]{
	background-color:clear;
	font-family: 'Ceviche One', cursive;
	color: rgba(248, 247, 255, 0.8);
	border-radius: 20px;
	width: 200px;
	margin-top: 30px;
	font-size: 186;
	background: url('../img/planet.gif');
	/* background-attachment: fixed; */
	background-size: px;
	background-repeat: none;
	background-position: top;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 78%;
}
/* for the trophy */
.contain {
  width: 1px;
  float: center;
	margin-left: 700px;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
  65% {
    transform: rotateY(-160deg);
  }
}