
h1, h2 {
	color: rgb(236, 240, 21);
	text-align: center;
	background-color: rgb(56, 35, 7);
}

a{
	color: red;
}

span {
	color: red;
}

.pic, .pic1, .pic2 {
	width: 300px;
	height: 350px;
  padding: 30px 80px;
}
body{
	font-family: 'Ceviche One', cursive;

}
button{
	font-family: 'Ceviche One', cursive;	

}
main{
	font-family: 'Ceviche One', cursive;

}
.row,
.row1,
.row2 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.text,
.text1,
.text2 {
	font-family: 'Ceviche One', cursive;

	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.row:hover .text,
.row.active .text, 
.row1:hover .text1,
.row1.active .text1,
.row2:hover .text2,
.row2.active .text2{
	opacity: 1;
}

.textb,
.textb1,
.textb2{
	text-align: center;
	font-family: 'Ceviche One', cursive;

	font-size: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#logo {
	/* border-color: maroon;
	size: 30px;
	color: maroon;
	border: 50px;
	padding: 55px;  */
	/* float: right ;  */
	/* margin: 15px;  */
	/* width: 200px; 
	height: 45px;  */
	/* border-radius: 12px;
	text-shadow: mintcream;
	text-decoration: rgb(14, 5, 2);
	font-size: 30px;
	font-family: 'Ceviche One', cursive; 
	display: inline; */

} 

.container{
	border: 2px solid black;
	padding: 25px;
	background-size: auto; 
	
}

body{
	background-color: rgb(250, 243, 233);
	min-width: 950px;
}
footer{
	width: 500px;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
.counterButton{
	padding: 2px 2px;
  font-size: 2px;
  text-align: center;
	cursor: pointer;
	margin-top: 300px;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton:hover {background-color: clear}

.counterButton:active {
  background-color: clear;
  box-shadow: 0px clear;
  transform: translateY(5px);
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
.counterButton2{
	padding: 2px 2px;
  font-size: 2px;
  text-align: bottom;
	cursor: pointer;
	margin-top: 300px;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton2:hover {background-color: clear}

.counterButton2:active {
  /* background-color:; */
  box-shadow: 0px clear;
  transform: translateY(5px);
}
.nav {
  padding: 15px 25px;
  font-size: 20px;
  /* text-align: center; */
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(182, 3, 3);
  border: none;
  border-radius: 15px;
	box-shadow: 0 9px 0 2px rgb(58, 49, 49);
}

.nav:hover {background-color: #fa0606}

.nav:active {
  background-color: #f8fcf7;
  box-shadow: 0 5px rgb(49, 44, 44);
  transform: translateY(4px);
}

	.image-blurred-edge {
    background-image: url('img/fantasyBackround.jpg');
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px 8px white inset;
}
 #playerImg{
	 border-image: none;
 }
 .container1{
	 display: flex;
	 justify-content: space-evenly;
 }
 .versus{
	 display: flex;
	 justify-content: space-around;
	 margin-top:80% ;
 }
 .flex-container {

  display: flex;
	justify-content:space-between ;
	padding: 0px 12px 0px 12px;

	background: url('../img/fantasyBackground.jpg') no-repeat center/cover;
	width: 540px;
  height: 400px;
  box-shadow: 0 0 8px 8px white inset;
}
/* link for image https://images.search.yahoo.com/search/images;_ylt=Awr4zV..jQteVD0AcUhXNyoA;_ylu=X3oDMTE0cmxkb3ZrBGNvbG8DZ3ExBHBvcwMxBHZ0aWQDQTA2MjBfMQRzZWMDcGl2cw--?p=fantasy+background&fr2=piv-web&fr=mcafee#id=98&iurl=https%3A%2F%2Fwallpapercave.com%2Fwp%2FaD9ULLI.jpg&action=click */
.flex-container2 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	background: url('../img/playerBackground.jpg') no-repeat center/cover;
	width: 540px;
  height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}
.container{
	display: flex;
	flex-direction: column;
}
.innerContainer{
	display: flex;
	justify-content: space-evenly;

}
.flex-container3 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	background: url('../img/japan.jpg') no-repeat center/cover;
	width: 540px;
  height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}

.flex-container4 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	background: url('../img/broken.jpg') no-repeat center/cover;
	width: 540px;
  height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}
	.flex-container5 {
		display: flex;
		justify-content: space-between;
		padding: 0px 12px 0px 12px;
		background: url('../img/player3.jpg') no-repeat center/cover;
		width: 540px;
		height: 400px;
		box-shadow: 0 0 8px 8px white inset;
}
.flex-container6 {
	display: flex;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	background: url('../img/destroyer.jpg') no-repeat center/cover;
	width: 540px;
	height: 400px;
	box-shadow: 0 0 8px 8px white inset;
}
.counterButton3{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton3:hover {background-color: clear}

.counterButton3:active {
  /* background-color:; */
  box-shadow: 0px clear;
  transform: translateY(5px);
}
.counterButton4{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton4:hover {background-color: clear}

.counterButton4:active {
  /* background-color:; */
  box-shadow: 0px clear;
  transform: translateY(5px);
}

.counterButton5{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton5:hover {background-color: clear}

.counterButton5:active {
  /* background-color:; */
  box-shadow: 0px clear;
	transform: translateY(5px);
}



.counterButton6{
	padding: 2px 2px;
  font-size: 2px;
	text-align: center;
	margin-top: 300px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

.counterButton6:hover {background-color: clear}

.counterButton6:active {
  /* background-color:; */
  box-shadow: 0px clear;
	transform: translateY(5px);
}
#pts1[type=text]{
	background-color:clear;
	width: 200px;
	margin-top: 30px;
	font-size: 200;
	
	/* text-size-adjust: ; */
}

#pts2[type=text]{
	background-color:clear;
	width: 200px;
	margin-top: 30px;
	font-size: 200;
	color: gradient;

}
#pts3[type=text]{
	background-color:clear;
	width: 200px;
	margin-top: 30px;
	font-size: 200;
	color: gradient;
	/* text-size-adjust: ; */

}
#pts4[type=text]{
	background-color:clear;
	width: 200px;
	margin-top: 30px;
	font-size: 200;
	color: gradient;
	/* text-size-adjust: ; */


}
/* for the trophy */
.contain {
  width: 3px;
  float: right;
	margin-right: 200px;
	animation: rotate 5s linear infinite;
}
@keyframes rotate {
  65% {
    transform: rotateY(-160deg);
  }
}
