
h1, h2 {
	color: rgb(236, 240, 21);
	text-align: center;
	background-color: rgb(56, 35, 7);
}

a{
	color: red;
}

span {
	color: red;
}

.pic, .pic1, .pic2 {
	width: 300px;
	height: 350px;
  padding: 30px 80px;
}

.row,
.row1,
.row2 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.text,
.text1,
.text2 {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.row:hover .text,
.row.active .text, 
.row1:hover .text1,
.row1.active .text1,
.row2:hover .text2,
.row2.active .text2{
	opacity: 1;
}

.textb,
.textb1,
.textb2{
	text-align: center;
	font-size: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
 button {
	border-color: maroon;
	size: 30px;
	color: maroon;
	background-color: red;
	border: 50px;
	padding: 5px;
	float: right ;
	margin: 15px;
	width: 200px;
	height: 45px;
	border-radius: 12px;
	text-shadow: mintcream;
	text-decoration: rgb(14, 5, 2);
	font-size: 30px;
	font-family: 'Ceviche One', cursive;
	display: inline;

}
.container{
	border: 2px solid black;
	padding: 25px;
	background-size: auto; */
	
}

body{
	background-color: rgb(250, 243, 233);
}
/* #damageButtons{
	border-color: rgb(146, 175, 116);
box-sizing: 15px;
background-color: rgba(7, 6, 6, 0.719); */

/* } */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
#minus{
	padding: 2px 2px;
  font-size: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}

#minus:hover {background-color: clear}

#minus:active {
  background-color: clear;
  box-shadow: 0px clear;
  transform: translateY(5px);
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
#plus{
	padding: 2px 2px;
  font-size: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: clear;
  border: none;
  border-radius: 1px;
	box-shadow: 0px black;
	max-height: calc(100% - 5px);
}


#plus:hover {background-color: clear}

#plus:active {
  background-color:;
  box-shadow: 0px clear;
  transform: translateY(5px);
}
.nav {
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(182, 3, 3);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(58, 49, 49);
}

.nav:hover {background-color: #fa0606}

.nav:active {
  background-color: #f8fcf7;
  box-shadow: 0 5px rgb(49, 44, 44);
  transform: translateY(4px);
}




